{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block page_content %}
        {% if others %}
            <div class="bg">
              <div class="padding">
                <div class="wrapper">
                  {% for o in others %}
                      <article class="col-3">
                        <h3>{{ o.recipe_name|title }}</h3>
                          <img src="{{o.recipe_picture.url}}" alt="..." width="128" height="128">
                        <p>{{ o.how_to_make }}</p>
                      <div class="relative"> <a class="button-2" href="{% url 'recipe details' o.pk %}">Read More</a> </div>
                      </article>
                  {% endfor %}
                </div>
              </div>
            </div>
        {% else %}
            <article>
                <h3 class="title">Sorry, we have no recipes in this category!</h3>
            </article>
        {% endif %}
{% endblock %}